
# Ignore bundler config.
/.bundle
/vendor/bundle
/vendor/bin

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules

# Ignore npm debug log
npm-debug.log

# Ignore yarn log files
yarn-error.log
yarn-debug.log

.byebug_history

.ruby-version

# webpackが出力するアセットファイルを除く
public/assets/*
public/uploads/*

# storybookが出力するアセットファイルを除く
storybook-static/*

railways.cache

coverage

out/*
.idea/
.vscode/

*.DS_Store
dump.rdb
snabi.iml

.eslintcache

terraform/.terraform

# Elasticsearchのdataファイル
/docker/elasticsearch/data/*
